{% extends 'base_auth.html.twig' %}

{% block title %}Votre mot de passe vous a été envoyé par email{% endblock %}

{% block body %}
<div class="col-lg-6 d-flex align-items-center">
    <div class="login-form login-signin">

    <p>
        Un email contenant un lien de réinitialisation vient de vous etre adressé.
    </p>
    <p>N'oubliez pas de vérifier l'onglet spam si celui-ci n'apparait pas dans boîte de réception.</p>
    </div>
</div>
{% endblock %}
