{% extends 'base_auth.html.twig' %}

{% block title %}Reset your password{% endblock %}

{% block body %}
<div class="col-lg-6 d-flex align-items-center">
    <div class="login-form login-signin">

    <h1>Réinitialiser votre mot de passe</h1>

    {{ form_start(resetForm) }}
        {{ form_row(resetForm.plainPassword) }}
        <button class="btn btn-primary">Réinitialiser mot de passe</button>
    </div>
</div>
    {{ form_end(resetForm) }}
{% endblock %}
