{% extends 'base_auth.html.twig' %}

{% block title %}Conditions générales d'utilisation{% endblock %}

{% block body %}
    <h1>Conditions générales d'utilisation</h1>
    <div class="mt-15">
        <p>Loremp ipsum lorem ipsum lorem ipsum</p>
    </div>
{% endblock %}
