{% extends 'base_auth.html.twig' %}

{% block title %}Conditions générales de vente{% endblock %}

{% block body %}
    <h1>Conditions générales de vente</h1>
    <div class="mt-15 text-justify">
        <p>Loremp ipsum lorem ipsum lorem ipsum</p>
    </div>
{% endblock %}
