{% extends '@EasyAdmin/page/content.html.twig' %}

{% block title %}Campus France!{% endblock %}

{% block main %}
<div class="example-wrapper">
    <h1>Bienvenue sur votre espace administrateur Campus France.</h1>
</div>
{% endblock %}
