{% extends '@EasyAdmin/page/content.html.twig' %}

{% block title %}Campus France!{% endblock %}

{% block main %}
<div class="example-wrapper">
    <p>Bienvenue sur votre espace administrateur Campus France.</p>
</div>
{% endblock %}
